:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --sidebar-background-color: #f5f5f5;
    --card-background-color: #ffffff;
    --cloud-background-color: rgb(233, 232, 232);
    --title-color: #0ca12a;
    --span-title-color: #DD8BBB;
    --transition-duration: 1s;
    transition: background-color var(--transition-duration),
        color var(--transition-duration);
}

body.dark-theme {
    --background-color: #121212;
    --text-color: #ffffff;
    --sidebar-background-color: #1e1e1e;
    --card-background-color: #1e1e1e;
    --title-color: #ed6aed;
    --span-title-color: #0ca12a;
    --cloud-background-color: rgb(34, 33, 33);
    transition: background-color var(--transition-duration),
        color var(--transition-duration);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color var(--transition-duration),
        color var(--transition-duration);
    box-sizing: content-box;
    padding: 30px;
}

.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--title-color);
    /* Use the custom property for title color */
    font-family: monospace;
    font-size: 22px;
    height: 50px;
    padding: 0;
}

.title-container span {
    color: var(--span-title-color);
}

.weather-icon {
    font-size: 30px;
    margin-right: 10px;
}

.toggle-container {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--text-color);
    transition: color 0.5s;
}

.theme-toggle-button:hover {
    color: #ffcc00;
}

.dna-loading {
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 824px) {
    .title-container {
        font-size: 20px;
        height: 40px;
        padding-bottom: 20px;
    }

    .toggle-container {
        padding-bottom: 10px;
    }
}

@media (max-width: 568px) {
    .title-container {
        font-size: 15px;
        height: 40px;
        padding-bottom: 20px;
    }

    .toggle-container {
        padding-bottom: 10px;
    }
}